*~
#*
.#*
*.pyc
__pycache__
*.log
*.egg-info
.eggs
.cache
build
dist
doc/examples/benzene/Equilibrium/
.coverage
coverage.xml
*.lock
*.npz
dir.csv

# Files for the Martini example that can be downloaded at runtime
doc/examples/martini/*
!doc/examples/martini/*.mdp
!doc/examples/martini/*.ipynb
!doc/examples/martini/water.gro
