language: python
sudo: false

python:
  - "2.7"

# whitelist
branches:
    only:
        - master
        - develop

env:
    - GMX_VERSION=4.6.7
#    - GMX_VERSION=5.1.2

# install python dependencies
install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create --yes -q -n mdpow_test python=$TRAVIS_PYTHON_VERSION numpy scipy
  - source activate mdpow_test
  - conda install -c becksteinlab gromacs-$GMX_VERSION

  # install test tools
  - pip install git+git://github.com/ianmkenney/manifest_parser.git
  - pip install codecov
  - pip install pytest-cov
  - pip install pytest-pep8
  - pip install -e .

  # source gromacs
  - if [[ $GMX_VERSION == "4.6.7" ]]; then curl https://raw.githubusercontent.com/Becksteinlab/GromacsWrapper/develop/gromacs/templates/gromacswrapper_465.cfg -o ~/.gromacswrapper.cfg;
    fi 
  - source $($HOME/get_gmx $GMX_VERSION)
  
# run tests
script: 
  - py.test --cov mdpow mdpow/tests

after_success:
  - codecov
