include   ez_setup.py setup.py COPYING INSTALL README
recursive-include   doc MDpow.pdf *.html *.css *.js *.txt *.inv *.png
graft     mdpow/templates/
graft     mdpow/top/
graft     mdpow/top/oplsaa.ff/
