include   setup.py setup.cfg COPYING INSTALL README.rst AUTHORS CHANGES
recursive-include   doc *.html *.css *.js *.txt *.inv *.png
graft     mdpow/templates/
graft     mdpow/top/
graft     mdpow/top/oplsaa.ff/
