include   setup.py setup.cfg COPYING INSTALL.rst README.rst AUTHORS CHANGES
include   versioneer.py
include   mdpow/_version.py
graft     mdpow/templates/
graft     mdpow/top/
graft     mdpow/tests/testing_resources/
global-exclude *.py[cod]