name: CI

on:
  # run once a day at 5:55 UTC
  schedule:
    - cron: "55 5 * * *"
  push:
    branches:
      - "develop"
      - "master"
  pull_request:
    branches:
      - "develop"

concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}"
  cancel-in-progress: true

# TODO: test different OS (but difficult with GROMACS versions)
#       for right now: test on Linux only
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        #os: [ubuntu-latest, macos-latest]
        python-version: [2.7, 3.8] 
        #python-version: [2.7, 3.6, 3.7, 3.8, 3.9]
        gromacs-version: ["4.6.5", "2019.1"]    
        #gromacs-version: ["4.6.5", "2019.1", "2021.1"]
    env:
      MPLBACKEND: agg
        

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}      
        auto-update-conda: true
        mamba-version: "*"
        channels: conda-forge,bioconda,defaults
        channel-priority: true
        show-channel-urls: true
          
    - name: Conda info
      shell: bash -l {0}
      run: |
         conda info
         conda list
         conda config --show-sources
         conda config --show

    - name: Python version
      shell: bash -l {0}
      run: |
         python -c "import sys; print(sys.version)"                

    - name: Install package dependencies
      shell: bash -l {0}
      run: |
         mamba install six numpy scipy matplotlib pandas scikit-learn pyyaml mdanalysis numexpr
         python -m pip install --no-deps numkit gromacswrapper
         python -m pip install alchemlyb

    - name: Install pytest+plugins and pybol
      shell: bash -l {0}
      run: |
         mamba install pytest pytest-pep8 pytest-cov codecov
         python -m pip install pybol

    - name: Install GROMACS (${{ matrix.gromacs-version }})
      shell: bash -l {0}
      run: |
         mamba install 'gromacs==${{ matrix.gromacs-version }}' pocl

    - name: Install package
      shell: bash -l {0}
      run: |
        python -m pip install --no-deps .

    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest -v --durations=20 --cov=mdpow --cov-report=xml ./mdpow/tests

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
